.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0;
}

.home-page .text {
    width: 65%;
}

.home-page .text p {
    font-weight: bold;
    font-size: 30px;
}